/* Cabeçalho */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

/* Categorias */
.categorias__lista {
    display: flex;
    flex-direction: column;
    row-gap:  .5rem;
}

/* Destaques */
.destaques {
    display: flex;
    align-items: center;
    gap: 10px;

}

.destaques__barra {
    flex-grow: 1;
}

/* Eventos */
.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px;
}

.fathe__of__agenda {
    display: flex;
    
}

.agenda__informacoes {
    width: 50%;
    padding: 0 5px;
    justify-content: center;
  
}


.agenda__informacoes h3 {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
}

.agenda__informacoes h4, h5 {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.agenda__atracao {
    width: 50%;
    

}
.agenda__atracao h6 {
    font-family: var(--fonte-primaria);
    font-size: 18pt;

}

.agenda__botao {
    margin-top: 10px;
    display: flex;
    justify-content: center;    

}


@media (min-width: 720px){
    /* Cabeçalho */
    .menu {
        column-gap: 80px;
    }
    /* Categorias */
    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    .eventos__lista {
        justify-content: end;
    }

    .agenda__lista {
        display: flex;
        column-gap: 1.5rem;
        row-gap: 1rem;
        flex-wrap: wrap;
    }

    .agenda__informacoes {
        padding: 0px 0px 35px 0px;
    }

    .agenda__botao {
        display: flex;
        width: 100%;
        justify-content: end;    
    }
    

}

@media (min-width: 1400px){
    /* Cabeçalho */
    .menu {
        column-gap: 105px;
        flex-wrap: nowrap;
    }
    /* nth-child p/ flex- Reordenando os itens do menu */
    .menu__item:nth-child(1) {
        order: 1;
    }
    .menu__item:nth-child(2) { 
         order: 3;
    }
    .menu__item:nth-child(3) {
        order: 4;
    }
    .menu__item:nth-child(4) { 
        order: 5;
    }
    .menu__item:nth-child(5) {
        order: 2;
    }
    .agenda {
        /* width: 120%; */
    }

    .container__agenda__item {
        width: 50%;
    }
    .agenda__lista {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        /* width: 100%; */
        
    }

    .agenda__item:nth-child(1) {
        width: 32%;
    }
    .agenda__item:nth-child(2) {
        width: 32%;
    }

    .agenda__item:nth-child(3) {
        width: 32%;
    }

    .agenda__item:nth-child(4) {
        width: 32%;
    }

    .agenda__item:nth-child(5) {
        width: 32%;
    }

    .agenda__item:nth-child(6) {
        width: 32%;
    }


    .agenda__item {
        
    }

    .fathe__of__agenda {
        display: block;
    
    }

    .agenda__informacoes {
        width: 100%;
    }

    .agenda__atracao {
        width: 100%;

    }
}