.banner {
    display: grid;
    gap: 1em;


}

.banner img:nth-child(1) {
    grid-column: 1/3;

}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4
}




.eventos__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto ;
    grid-template-areas:
    "imagem imagem"
    "nome nome" 
    "data data"
    "local botao";
   

}

.eventos__item img {
    grid-area: imagem;
}
.eventos__item h3 {
    grid-area: nome;
    align-self: center;
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
    align-self: end;
}

.eventos__item button {
    grid-area: botao;
    
    
}
    

/*Agenda*/

.father__of__agenda { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.agenda__botao {
    display: grid;
    /* width: 100%; */
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "clumn_1 column_2";
    
}.agenda__botao, button{
    grid-area: column_2;
    margin-left: 0.7rem;
}


/*Fim agenda*/




@media (min-width: 720px) {

    .banner {
        grid-template-columns: calc(50% - 0.75rem) auto auto;
        column-gap: 1.5rem;

    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3; 
    }

    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}

@media (min-width: 1440px) {

    .categorias {
        display: grid;
        column-gap:  1.5rem;
        row-gap: 1rem;
        grid-template-columns:  1fr 1fr;
        grid-template-areas: 
        "categoria categoria"
        "listas_categoria destaque_titulo"
        "listas_categoria img_destaque";
    }

    .categorias h2 {
        grid-area: categoria;
    }

    .categorias__lista {
        grid-area: listas_categoria;
    }

    .categorias__destaques {
        grid-area: destaque_titulo;
    }

    .categorias__imagem {
        grid-area: img_destaque;
        /* justify-self: end; */
    }

}